---
layout: default
title: Home
---

<header>
    <h1>&gt; Singularity</h1>
    <p class="typewriter"></p>
    <p>Welcome <span id="ip-address"></span> : <a href="#"></a> <span id="time"></span> <span id="date"></span></p>
</header>

<section class="posts">
    <h2>Latest posts</h2>
    <div class="post-grid">
    {% for post in site.posts %}
        <article class="post">
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
            <p class="excerpt">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
            <div class="post-footer">
                <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
            </div>
        </article>
    {% endfor %}
    </div>
</section>

{% include aside.html %}
{% include footer.html %}