<aside>
    <div class="menu-header">
        <button id="menuToggle" aria-label="Toggle Menu">☰</button>
        <span class="menu-title">Menu</span>
    </div>
    <nav id="menuContent" class="hidden">
        <ul class="menu-list">
            <li><a href="{{ '/' | relative_url }}"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="{{ '/projects' | relative_url }}"><i class="fas fa-project-diagram"></i> Projects</a></li>
            <li><a href="{{ '/books' | relative_url }}"><i class="fas fa-book"></i> Books</a></li>
            <li><a href="{{ '/horology' | relative_url }}"><i class="fas fa-clock"></i> Horology</a></li>
            <li><a href="{{ '/playlists' | relative_url }}"><i class="fas fa-music"></i> Playlists</a></li>
            <li><a href="https://buymeacoffee.com/gourabdg" target="_blank" rel="noopener noreferrer"><i class="fas fa-coffee"></i> Buy me a Coffee!</a></li>
        </ul>
    </nav>
</aside>